body {
    font-family: 'Open Sans', sans-serif;
}

/*** HEADER ***/
header {
    height: 100px;
}

#menu-column > ul {
	list-style: none;
}

a {
	text-decoration: none;
    color: grey;
}

.btn {
    border: none;
	background: blue;
	color: white;
    font-size: medium;
    padding: 8px 10px;
}

/*** MAIN ***/
main {
    height: calc(100vh -100px);
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 32px;
}

.jumbo-img {
    width: 620px;
    height: 400px;
}