body {
    font-family: 'Open Sans', sans-serif;
}

/*** HEADER ***/
header {
    height: 100px;
}

#menu-column > ul {
	list-style: none;
}

.a-link {
	text-decoration: none;
    color: grey;
}

.btn {
    border: none;
	background: blue;
	color: white;
    font-size: medium;
    padding: 8px 10px;
}

/*** MAIN ***/
main {
    height: calc(100vh -100px);
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 32px;
}

.jumbo-img {
    width: 620px;
    height: 400px;
}

.singolo, .team, .azienda {
    min-height: 600px;
    width: 280px;
    background-color: orange;
}

.team2 {
    min-height: 200px;
    width: 100%;
    background-color: aqua;
}

.card {
    width: calc(100% / 3 - 20px);
    min-height: 400px;
    background-color: orange;
}

.box-container {
    width: 100vw;
    max-height: 400px;
}

.box {
    width: calc(100% / 3 );
    background-color: blue;
}

.card-box {
    width: calc(100% / 2);
    height: 200px;
}