body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border: none;
	background: blue;
	color: white;
    font-size: medium;
    padding: 8px 10px;
    text-align: center;
}

.btn-white {
    border: none;
	background: white;
	color: black;
    font-size: medium;
    padding: 8px 25px;
}

.btn-white-border {
    border: 2px solid grey;
	background: white;
	color: black;
    font-size: medium;
    padding: 8px 25px;
}

/*** HEADER ***/
header {
    width: 100%;
    box-shadow: 0 1px 2px #dedede;
}

.a-link {
	text-decoration: none;
    color: grey;
}

.a-link:hover {
    padding-bottom: 22px;
    border-bottom: 3px solid black;
}

/*** MAIN ***/
main {
    height: calc(100vh -100px);
}

h1 {
    font-size: 64px;
    margin-bottom: 32px;
}

h2 {
    font-size: 30px;
}

/* jumbo */
.down-arrow {
    height: 50px;
    margin-top: 60px;
}

.jumbo-img {
    width: 95%;
}

/* sngle-cards */
.single-card {
    height: 1100px;
    width: 280px;
    border: 1px solid rgba(120, 120, 120, 0.5);
}

p > a {
    color: blue;
}

div > a {
    text-decoration: none;
    color: white;
}

.single-card2 {
    min-height: 200px;
    width: 100%;
    border: 1px solid rgba(120, 120, 120, 0.5);
}

.head {
    text-align: center;
    border-bottom: 1px solid rgba(120, 120, 120, 0.5);
}

/* parteners */
.partner-img {
    width: 95%;
}

/* operations */
.operations-img {
    width: 100%;
    
}

.card {
    width: calc(100% / 3 - 20px);
    min-height: 400px;
}

/* business */
#business {
    color: blue;
    text-decoration: underline;
}

/* cards */
.box-container {
    width: 100vw;
    max-height: 400px;
}

.box {
    width: calc(100% / 3 );
    background-color: blue;
}

.card-box {
    width: calc(100% / 2);
    height: 200px;
}

.card-img {
    width: 60%;
    filter: invert(1);
}

.small-card {
    margin: 1em;
    padding: 4.5em;
}
/*** FOOTER ***/

li {
    list-style-type: none;
}

.hr-footer {
    position: absolute;
    left: 70px;
    width: 10%;
}