body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border: none;
	background: blue;
	color: white;
    font-size: medium;
    padding: 8px 10px;
}

.btn-white {
    border: none;
	background: white;
	color: black;
    font-size: medium;
    padding: 8px 25px;
}

/*** HEADER ***/
header {
    width: 100%;
    box-shadow: 0 1px 2px #dedede;
}

.a-link {
	text-decoration: none;
    color: grey;
}

.a-link:hover {
    padding-bottom: 22px;
    border-bottom: 3px solid black;
}

/*** MAIN ***/
main {
    height: calc(100vh -100px);
}

h1 {
    font-size: 64px;
    margin-bottom: 32px;
}

h2 {
    font-size: 30px;
}

.down-arrow {
    height: 50px;
    margin-top: 60px;
}

.jumbo-img {
    width: 95%;
}

.singolo, .team, .azienda {
    min-height: 600px;
    width: 280px;
    background-color: orange;
}

.team2 {
    min-height: 200px;
    width: 100%;
    background-color: aqua;
}

.card {
    width: calc(100% / 3 - 20px);
    min-height: 400px;
    background-color: orange;
}

.box-container {
    width: 100vw;
    max-height: 400px;
}

.box {
    width: calc(100% / 3 );
    background-color: blue;
}

.card-box {
    width: calc(100% / 2);
    height: 200px;
}

/*** FOOTER ***/

li {
    list-style-type: none;
}

.hr-footer {
    position: absolute;
    left: 70px;
    width: 10%;
}